body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle at center, #cccccc, #444444, #000000);
  background-attachment: fixed;
  background-size: cover;
}

header {
font-size: 30px;
font-family: sans-serif;
}

nav {
border-radius: 5px
background-color: E1FAF9;
}

button {
background-color: blue;
color: white;
}